# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environment
posturfit_backend/venv/
posturfit_backend/__pycache__/
posturfit_backend/*.pyc
posturfit_backend/.pytest_cache/

# Local SQLite databases
posturfit_backend/*.db

# Env files
posturfit_backend/.env

# Flutter / Dart ignores
mobile_flutter_PostureFit/.dart_tool/
mobile_flutter_PostureFit/build/
mobile_flutter_PostureFit/.flutter-plugins
mobile_flutter_PostureFit/.flutter-plugins-dependencies
mobile_flutter_PostureFit/local.properties
mobile_flutter_PostureFit/generated.xcconfig
mobile_flutter_PostureFit/flutter_export_environment.sh
